LINE_CHANNEL_SECRET=replace_with_your_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=replace_with_your_channel_access_token
DISCORD_BOT_TOKEN=replace_with_a_non_production_discord_bot_token
DISCORD_ALLOWED_GUILD_IDS=123456789012345678
DISCORD_ALLOWED_CHANNEL_IDS=234567890123456789
